<footer class="footer-container">
  <div class="container">
    <div class="top-footer">
      <div>
        <h3 class="footer-logo">LOGO</h3>
        <p>Some footer content goes here.</p>
      </div>
      <div>
        <h3>Links</h3>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="base-footer">
      <p>&copy;{{ year }} {{ author }}. All rights reserved.</p>
    </div>
  </div>
</footer>
